@font-face {
    font-family: gotham book;
    src: url(fonts/Gotham_Book_Font.otf);
}

@font-face {
    font-family: gotham light;
    src: url(fonts/GothamLightRegular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    margin: 0;
    line-height: 1.5;
    list-style-type: none;
    font-family: gotham light;
    font-size: 15px;
    line-height: 1.45;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

.d_flex{
    display: flex;
}

.dis_fl_ju_c{
    display: flex;
    justify-content: center;
}

.dis_fl_jc_sb{
    display: flex;
    justify-content: space-between;
}

.dis_fl_jc_sb_ai_c{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ps_ab_tf_tl{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
}

.ps_ab_tp_ri_bt{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.header{
    text-align: center;
    font-family: 'Gotham book';
    color: #7cccbf;
    font-weight: normal;
    font-size: 50px;
    text-transform: uppercase;
}

nav{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: center;
    padding: 10px 30px;
    background-color: white;
    font-family: 'Gotham book';
    z-index: 10;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav ul li{
    padding: 20px;

}

nav ul li a{
    text-decoration: none;
    font-size: 25px;
    color: #3ea392;
}


.banner{
    position: relative;
}

.banner img{
    padding-top: 5%;
    width: 100%;
    height: auto;
}

.banner .overlay {
    width: 100%;
    height: 100%;
    background-color: #2ddabd9c;
}

.banner .overlay p{
    font-size: 100px;
    text-transform: uppercase;
    color: white;
}

.text{
    background-color: #f4f6f6; 
}

.text p{
    width: 40%;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: justify;
}


.scroll{
    
}

.process h2{
    padding-top: 50px;
}

.process p{
    text-align: center;
    font-family: gotham book;
}

.process_icon {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.process_icon .tab{
    width: 33.33%;
    padding: 25px;
}

.process_icon .tab img{
    margin: 0 auto;
    padding-bottom: 20px;
}

.ready_to_wear{
    background-color: #f4f6f6;
}


.section_heading h2{
    padding: 50px 0;
}

.ready_to_wear .background .range{
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
}

.ready_to_wear .background .range:nth-child(odd){
    flex-direction: row-reverse;
}

.ready_to_wear .background .range .range_text{
    max-width: 40%;
    text-align: justify;
    margin: 0 auto;
}

.ready_to_wear .background .range .range_text h3{
    padding: 5px 0;
    font-size: 33px;
}

.ready_to_wear .background .range .range_image{
    width: 40%;
}

.ready_to_wear .background .range img{
    width: 80%;
    margin: 0 auto;
}

.scroll .footer_line img{
    width: 100%;
}

.footer{
    background-color: #d1d1d1;
    font-family: "Gotham";
}

.footer .footer_list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid black;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.footer .footer_list .footer_a a{
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}

.footer .footer_list .footer_social a i{
    font-size: 15px;
    padding: 10px 11px;
    color: black;
    background-color: #fff;
    border-radius: 50%;
}

.footer .footer_list .footer_social a:nth-child(1) i{
    padding: 10px 14px;
}


.footer .copyright{
    padding: 10px;
    font-size: 12px;
    text-align: center;
}