.process h2{
    padding-top: 50px;
}

.process p{
    text-align: center;
    font-family: gotham book;
}

.process_icon {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.process_icon .tab{
    width: 33.33%;
    padding: 25px;
}

.process_icon .tab img{
    margin: 0 auto;
    padding-bottom: 20px;
}

.ready_to_wear{
    background-color: #f4f6f6;
}


.section_heading h2{
    padding: 50px 0;
}

.ready_to_wear .background .range{
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
}

.ready_to_wear .background .range:nth-child(odd){
    flex-direction: row-reverse;
}

.ready_to_wear .background .range .range_text{
    width: 45%;
    text-align: justify;
}

.ready_to_wear .background .range .range_text h3{
    padding: 5px 0;
    font-size: 33px;
}

.ready_to_wear .background .range .range_img{
    width: 45%;
}

