.text{
    background-color: #f4f6f6; 
}

.text p{
    width: 40%;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: justify;
}

.section_head{
    padding: 3% 0;
}

.product .product_img{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.product .product_img img{
    width: 100%;
}

.product .product_img .product_text .product_para{
    width: 33.33%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.575);
}

.product .product_img .product_text .product_para .product_box{
    width: 80%;
}

.special_features .features_heading{
    padding-top: 3%;
}

.special_features .features_text{
    font-weight: bold;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.slider{
    padding: 3% 0;
}

.special_features .slider .slider_tab .inner_flex{
    display: flex;
    align-items: center;
    font-size: 26px;
}

.slick-prev:before{
    display: none;
}

.slick-next:before{
    display: none;
}

/* .fa-angle-left:before {
    content: "\f104";
    position: absolute;
    transform: translateY(-55%);
    color: white;
    padding: 4% 53%;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #b5b5b5;
    font-size: 37px;
}

.fa-angle-right:before {
    content: "\f105";
    position: absolute;
    transform: translateY(-55%);
    color: white;
    padding: 4% 53%;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #b5b5b5;
    font-size: 37px;
} */

.slick-list{
    margin: 0 10%;
}

.brands_heading{
    padding: 50px 0 30px 0;
}

.brands .brands_in{
    background-color: #f4f6f6;
}

.brands .brands_in .brands_wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brands .brands_in .brands_wrap .brand_tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 4% 2%;
}

.brands .brands_in .brands_wrap .brand_tab .brand_disc{
    width: 55%;
}

.health{
    position: relative;
}

.health .health_flex{
    display: flex;
    width: 100%;
}


.health .health_flex .ps_ab{
    top: 50%;
    left: 25%;
    transform: translate(-15%, -50%);
}

.health .health_flex .health_bg img{
    width: 100%;
}

.health .health_flex .heath_img img{
    width: 50%;
    background-color: #2ddabd9c;
}

.health .health_flex .heath_img img{
    width: 50%;
}

.health .health_flex .health_img .health_overlay{
    width: 50%;
    height: 100%;
    background-color: #2ddabd9c;
}

.health .health_flex .heath_disc{
    width: 25%;
    padding: 3% 2%;
    background-color: white;
    font-weight: bold;
}

.health .health_flex .heath_disc .para_text{
    padding-bottom: 20px;
}

.quality h2{
    padding-top: 3%;
}

.quality .quality_para{
    text-align: center;
    font-weight: bold;
}

.quality .background .quality{
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
}

.quality .background .quality:nth-child(odd){
    flex-direction: row-reverse;
}

.quality .background .quality .quality_text{
    max-width: 40%;
    text-align: justify;
    margin: 0 auto;
}

.quality .background .quality .quality_text h3{
    padding: 5px 0;
    font-size: 33px;
}

.quality .background .quality .quality_image{
    width: 40%;
}

.quality .background .quality img{
    width: 80%;
    margin: 0 auto;
}

