.footer_line img{
    width: 100%;
}

.footer{
    background-color: #d1d1d1;
    font-family: "Gotham";
}

.footer .footer_list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid black;
}

.footer .footer_list .footer_a{
    text-align: center;
    width: 80%;
}

.footer .footer_list .footer_a a{
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.footer .footer_list .footer_social a i{
    font-size: 15px;
    padding: 8px 9px;
    color: black;
    background-color: #fff;
    border-radius: 50%;
}

.footer .footer_list .footer_social a:nth-child(1) i{
    padding: 8px 11px;
}


.footer .copyright{
    padding: 10px;
    font-size: 12px;
    text-align: center;
}

/* @media (max-width: 1200px) {
    .footer .footer_list .footer_a{
        width: 60%;
    }
} */

@media screen and (max-width:992px){

}

@media screen and (max-width:767px){
    .footer .footer_list{
        flex-direction: column;
        border: none;
    }

    .footer .footer_list .footer_a{
        padding-bottom: 2%;
    }
}