*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    margin: 0;
    line-height: 1.5;
    list-style-type: non;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

.dis_fl_ju_c{
    display: flex;
    justify-content: center;
}

.dis_fl_jc_sb{
    display: flex;
    justify-content: space-between;
}

.dis_fl_jc_sb_ai_c{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ps_ab_tf_tl{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
}

nav{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: center;
    padding: 10px 30px;
    background-color: white;
    font-family: 'Gotham book';
    z-index: 10;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav ul li{
    padding: 20px;

}

nav ul li a{
    text-decoration: none;
    font-size: 25px;
    color: #3ea392;
}

.banner video{
    width: 100%;
    display: block;
}

.header{
    text-align: center;
    font-family: 'Gotham book';
    color: #7cccbf;
    font-weight: 400;
    font-size: 50px;
    padding: 50px 0;
    text-transform: uppercase;
}

.bussiness{
    padding: 100px;
}

.bussiness .bussiness_head{
    padding: 50px 0;
}

.bussiness_in{
    display: flex;
    justify-content: center;
    padding: 0 50px;

}

.bussiness .bussiness_in .tab img{
    width: 100%;
}

.tab{
    position: relative;
}

.tab:hover{
    border-bottom: 3px solid #7cccbf;
}

.tab .text{
    transition: .5s ease-in-out;
}

.tab .text h1{
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    transition: .5s ease-in-out;
}

.btn{
    font-size: 15px;
    color: #ffffff;
    background-color: #a4a4a4;
    border-radius: 20px;
    padding: 10px;
    font-family: 'gotham light';
    font-weight: 600;
    text-transform: initial;
}

.tab .text a{
    z-index: 2;
    opacity: 0;
    transition: .5s ease-in-out;
}

.btn:hover{
    background-color: #ffffff;
    color:  #a4a4a4;
    transition: .3s ease-in-out;
}

.tab:hover img{
    color: #7cccbf;
    opacity: .8;
}

.tab:hover a{
    opacity: 1;
    transform: translateY(10%);
}

.tab:hover .overlay{
    background-color: #7cccbf;
    height: 97.7%;
}

.our_legacy_banner{
    position: relative;
}

.our_legacy_banner img{
    width: 100%;
    height: 60vh;
}



.our_legacy_banner .our_lagacy_text h1{
    padding: 40px;
}

.para_text{
    font-family: 'Gotham light';
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    padding: 10px;
}

.slider_tab{
    padding: 50px;
}

.slider{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.slick-next:before, .slick-prev:before {
    color: red;
    padding: 2px;
    background-color: #7cccbf;
    font-size: 30px;
    border-radius: 15px;
  }

.our_values{
    max-width: 80%;
}

.our_values_head{
    display: flex;
    align-items: center;
}

.our_values_head h1{
    font-family: 'Gotham book';
    color: #6b081d;
    font-size: 33px;
    padding: 5px;
}

.our_values .our_values_text{
    font-family: 'Gotham light';
    font-size: 15px;
    padding: 10px 0;
}

.our_inspiration{
    padding: 50px 0;
}

.our_inspiration .inspiration_disc{
    width: 75%;
    padding: 30px 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.our_inspiration .inspiration_disc .inspiration_in{
    display: flex;
    justify-content: center;    
    background-color: #f4f6f6;
    padding-left: 40px;
    padding-right: 40px;
}

.our_inspiration .inspiration_disc .inspiration_in .inspiration{
    padding-right: 40px;
    width: 40%;
}

.our_inspiration .inspiration_disc .inspiration_head{
    padding-bottom: 2%;
    margin-left: 25%;
}


.our_inspiration .inspiration_disc .inspiration_in .inspiration img{
    transform: translateY(-10%);
    max-width: 100%;
}

.our_inspiration .inspiration_disc .inspiration_in .inspiraton_text{
    width: 55%;
    padding-bottom: 10%;
}

.our_inspiration .inspiration_disc .inspiration_in .inspiraton_text .p_text h1{
    color: #e33e3a;
    font-size: 33px;
    font-family: gotham book;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #3ea392;
}

.our_inspiration .inspiration_disc .inspiration_in .inspiraton_text .p_text p{
    font-family: 'gotham light';
    font-size: 15px;
}

.facility_banner{ 
    position: relative;
    margin-right: 0;
}

.facility_banner img{
    display: block;
    width: 100%;
    height: 100%;
}

.facility_banner .banner_text{
    width: 986px;
    height: 459px;
    text-align: center;
    background-color: #f4f6f6a8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.facility_banner .banner_text h1{
    font-family: gotham book;
    font-size:50px;
    padding-bottom: 20px;
}

.facility_banner .banner_text p{
    font-family: 'gotham light'; 
    font-size: 15px;
}

.sustainibility{
    padding: 100px 0px;
    position: relative;
}

.sustainibility .sustainability_disc{
    width: 75%;
    margin : 0 auto;
}

.sustainibility .sustainability_disc .sustainibility_in{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sustainibility .sustainability_disc .sustainibility_in .sustainibility_text{
    width: 50%;
}

.sustainibility .sustainability_disc .sustainibility_in .sustainibility_text .sustainibility_header{
    font-size: 50px;
    padding-bottom: 20px ;
    font-family: Gotham book;
    color: #7cccbf;
}

.sustainibility .sustainability_disc .sustainibility_in .sustainibility_text .sustain_text{
    font-family: Gotham light;
    font-size: 18px;
    padding-bottom: 20px;
}

.sustainibility .sustainability_disc .sustainibility_in .sustainability_img{
    width: 50%;
}

.sustainibility .sustainability_disc .sustainibility_in .sustainability_img img{
    max-width: 100%;
}

.sustainibility .sustainability_disc .sustainibility_in .bar{
    position: absolute;
    top: 0;
    left: 65%;
    height: 100%;
    width: 35%;
    background-color: #7cccbfa6;
    z-index: -1;
}

.studio{
    padding: 5% 0 ;
    margin: 0;
    background-color: #f4f6f6;
}

.studio .studio_logo{
    margin: 0 auto;
    margin-bottom:3%;
    display:block;
    height: auto;
    width: 14%;
}


.studio .studio_img{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.studio .studio_img img{
    width: 100%;
}

.studio .studio_img .studio_text .studio_para{
    width: 33.33%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.575);
}

.studio .studio_img .studio_text .studio_para p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map {
    position: relative;
}

.map img{
    width: 100%;
    height: 100vh;
}


.map .map_text{
    position: absolute;
    width: 15%;
    height: 40%;
    font-family: 'gotham light';
    font-size: 15px;
    top: 50%;
    left: 66%;
}

.map .map_text p:nth-child(1){
    padding-bottom: 20px;
}

.footer{
    background-color: #d1d1d1;
    font-family: "Gotham";
}

.footer .footer_list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid black;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.footer .footer_list .footer_a a{
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}

.footer .footer_list .footer_social a i{
    font-size: 15px;
    padding: 10px 11px;
    color: black;
    background-color: #fff;
    border-radius: 50%;
}

.footer .footer_list .footer_social a:nth-child(1) i{
    padding: 10px 14px;
}


.footer .copyright{
    padding: 10px;
    font-size: 12px;
    text-align: center;
}
