*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

nav{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: center;
    padding: 10px 30px;
    background-color: white;
    font-family: 'Gotham book';
    z-index: 10;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav ul li{
    padding: 20px;

}

nav ul li a{
    text-decoration: none;
    font-size: 25px;
    color: #3ea392;
}

.banner img{
    width: 100%;
    height: 100vh;
}

.header{
    text-align: center;
    font-family: 'Gotham-book';
    color: #7cccbf;
    font-weight: 400;
    font-size: 50px;
    padding: 50px 0;
    text-transform: uppercase;
}

.bussiness{
    padding: 100px;
}

.bussiness .bussiness_head{
    padding: 50px 0;
}

.bussiness_in{
    display: flex;
    justify-content: center;
    padding: 0 50px;

}

.bussiness .bussiness_in .tab img{
    width: 100%;
}

.tab{
    position: relative;
}

.tab:hover{
    border-bottom: 3px solid #7cccbf;
}

.tab .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s ease-in-out;
}

.tab .text h1{
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    transition: .5s ease-in-out;
}

.tab .text a{
    z-index: 2;
    opacity: 0;
    transition: .5s ease-in-out;
    font-size: 18px;
    color: #ffffff;
    background-color: #a4a4a4;
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
    transition: .5s ease-in-out;
}

.tab .text .drop a:hover{
    background-color: #ffffff;
    color:  #a4a4a4;
    transition: .3s ease-in-out;
}

.tab:hover img{
    color: #7cccbf;
    opacity: .8;
}

.tab:hover a{
    opacity: 1;
    transform: translateY(10%);
}

.tab:hover .overlay{
    background-color: #7cccbf;
    height: 97.7%;
}

.our_legacy_banner{
    position: relative;
}

.our_legacy_banner img{
    width: 100%;
    height: 60vh;
}

.our_legacy_banner .our_lagacy_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.our_legacy_banner .our_lagacy_text h1{
    padding: 40px;
}

.para_text{
    font-family: 'Gotham light';
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    padding: 10px;
}

.slider_tab{
    padding: 50px;
}

.slider_inner{
    text-align: center;
}

.slider{
    display: flex;
    justify-content: center;
}

.our_values{
    max-width: 50%;
}

.our_values_head{
    display: flex;
    align-items: center;
    text-align: justify;
}

.our_values_head h1{
    font-family: 'Gotham book';
    color: #6b081d;
    font-size: 33px;
    padding: 5px;
}

.our_values .our_values_text{
    font-family: 'Gotham light';
    font-size: 15px;
    padding: 10px 0;
}

.our_inspiration{
    padding: 50px 0;
}

.our_inspiration .inspiration_disc{
    width: 75%;
    padding: 30px 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.our_inspiration .inspiration_disc .inspiration_in{
    display: flex;
    justify-content: center;    
    background-color: #f4f6f6;
    padding-left: 40px;
    padding-right: 40px;
}

.our_inspiration .inspiration_disc .inspiration_in .inspiration{
    padding-right: 40px;
    width: 50%;
}

.our_inspiration .inspiration_disc .inspiration_in .inspiration_head{
    font-size: 50px;
    text-transform: uppercase;
    color: #7cccbf;
    padding: 20px 0;
}

.our_inspiration .inspiration_disc .inspiration_in .inspiration img{
    min-width: 400px;
}

.our_inspiration .inspiration_disc .inspiration_in .inspiration .inspiraton_text{
    min-width: 50%;
    color: #f4f6f6;
}

.our_inspiration .inspiration_disc .inspiration_in .inspiraton_text .p_text h1{
    color: #e33e3a;
    font-size: 33px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #3ea392;
}

.facility_banner{ 
    position: relative;
}

.facility_banner img{
    width: 100%;
    height: 100%;
}

.facility_banner .banner_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 986px;
    height: 459px;
    text-align: center;
    background-color: #f4f6f6a8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.facility_banner .banner_text h1{
    font-size:50px;
    padding-bottom: 20px;
}

.sustainibility{
    padding: 100px 0px;
    position: relative;
}

.sustainibility .sustainability_disc{
    width: 75%;
    margin : 0 auto;
}

.sustainibility .sustainability_disc .sustainibility_in{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sustainibility .sustainability_disc .sustainibility_in .sustainibility_text{
    width: 50%;
}

.sustainibility .sustainability_disc .sustainibility_in .sustainibility_text .sustainibility_header{
    font-size: 50px;
    color: #7cccbf;
}

.sustainibility .sustainability_disc .sustainibility_in .sustainibility_text .sustain_text{
    font-size: 21px;
}

.sustainibility .sustainability_disc .sustainibility_in .sustainability_img{
    width: 50%;
}

.sustainibility .sustainability_disc .sustainibility_in .sustainability_img img{
    max-width: 100%;
}

.sustainibility .sustainability_disc .sustainibility_in .bar{
    position: absolute;
    top: 0;
    left: 65%;
    height: 100%;
    width: 35%;
    background-color: #7cccbfa6;
    z-index: -1;
}

.studio{
    padding: 2% 0;
    margin: 0;
    background-color: #f4f6f6;
}

.studio .studio_logo{
    margin: 0 auto;
    margin-bottom:3%;
    display:block;
    max-width: 100%;
    height: auto;
    width: 25%;
}
.studio .studio_img{
    position: relative;
}

.studio .studio_img img{
    width: 100%;
}

.studio .studio_img .studio_overlay{
    position: absolute;
    height : 100%;
    width : 33.33%;
    background-color: #ffffff;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.studio .studio_img .studio_text{
    width : 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
