
.banner video{
    width: 100%;
    display: block;
}


.bussiness{
    padding: 100px;
}

.bussiness .bussiness_head{
    padding: 50px 0;
}

.bussiness_in .bussiness_wrap{
    display: flex;
    flex-wrap: wrap;

}

.bussiness .bussiness_in .bussiness_wrap .tab_bot{
    padding-bottom: 1%;
}

.bussiness .bussiness_in .bussiness_wrap .tab img{
    width: 100%;
}

/* .tab_bot{
    transform: scale(0);
    transition: 500ms ease;
}

.tab_bot:hover{
    border-bottom: 2px solid #7cccbf;
    transform-origin: left;
    transform: scaleX(1);
} */

.tab{
    position: relative;
    margin-bottom: 2%;
}

.tab .text{
    transition: .5s ease-in-out;
}

.tab .text{
    color: #ffffff;
    font-family: gotham book;
    font-size: 20px;
    font-weight: 400;
    transition: .5s ease-in-out;
}


.tab .text a{
    z-index: 2;
    opacity: 0;
    transition: .5s ease-in-out;
}

.tab:hover a{
    opacity: 1;
    
    transform: translateY(10%);
    
}

.border{
    transform: scaleX(0);
    transition: 600ms ease;
    transform-origin: left;
    border-bottom: 2px solid #7cccbf;
}

.tab_bot:hover .border{
    transform: scaleX(1);
}

.overlay{
    background-color: #7cccbf87;
    opacity: 0;
    transition: .5s ease-in-out;
}

.transform{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    transition: .5s ease-in-out;
}

.tab:hover .overlay{
    opacity: 1;
}

.tab:hover .transform{
    transform: translate(-50%, 1%) rotateX(360deg);
}

.our_legacy_banner{
    padding: 5% 0;
    background: url(../img/banner_2.jpg);
    width: 100%;
}

.our_legacy_banner .our_lagacy_text h1{
    padding: 40px 0 5px 0;
}

.para_text{
    font-family: 'Gotham light';
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    padding: 5px;
}

.slider_tab{
    padding: 50px;
}

.slick-prev:before{
    display: none;
}

.slick-next:before{
    display: none;
}

.slick-prev img{
    position: absolute;
    top: 0;
    left: -113%;}

/* .fa-angle-left:before {
    content: "\f104";
    position: absolute;
    transform: translateY(-55%);
    color: white;
    padding: 4% 53%;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #b5b5b5;
    font-size: 37px;
}

.fa-angle-right:before {
    content: "\f105";
    position: absolute;
    transform: translateY(-55%);
    color: white;
    padding: 4% 53%;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #b5b5b5;
    font-size: 37px;
} */

.draggable{
    margin: 0 10%;
}

.our_values{
    max-width: 80%;
}

.our_values_head{
    display: flex;
    align-items: center;
}

.our_values_head h1{
    font-family: 'Gotham book';
    color: #6b081d;
    font-size: 33px;
    padding: 5px;
}

.our_values .our_values_text{
    font-family: 'Gotham light';
    font-size: 15px;
    padding: 10px 0;
}

.our_inspiration{
    padding: 50px 0;
}

.our_inspiration .inspiration_disc{
    width: 75%;
    padding: 30px 0;
    margin-left: auto;
    margin-right: auto;
}

.our_inspiration .inspiration_disc .inspiration_in{
    display: flex;
    justify-content: center;    
    background-color: #f4f6f6;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

.our_inspiration .inspiration_disc .inspiration_in .inspiration{
    padding-right: 40px;
    width: 40%;
}

.our_inspiration .inspiration_disc .inspiration_head{
    padding-bottom: 2%;
    margin-left: 25%;
}


.our_inspiration .inspiration_disc .inspiration_in .inspiration img{
    transform: translateY(-10%);
    max-width: 100%;
}

.our_inspiration .inspiration_disc .inspiration_in .inspiraton_text{
    width: 55%;
    padding-bottom: 10%;
}

.our_inspiration .inspiration_disc .inspiration_in .inspiraton_text .p_text h1{
    color: var(--color_secondary);
    font-size: 33px;
    font-family: gotham book;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #3ea392;
}

.our_inspiration .inspiration_disc .inspiration_in .inspiraton_text .p_text p{
    font-family: 'gotham light';
    font-size: 15px;
}

.facility_banner{ 
    position: relative;
    margin-right: 0;
}

.facility_banner img{
    display: block;
    width: 100%;
    height: 100%;
}

.facility_banner .banner_text{
    width: 55%;
    height: 60%;
    text-align: center;
    backdrop-filter: blur(10px);
    background-color: #f4f6f636;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.facility_banner .banner_text h1{
    font-family: gotham book;
    font-size:50px;
    padding-bottom: 20px;
}

.facility_banner .banner_text p{
    font-family: 'gotham light'; 
    font-size: 15px;
}

.sustainibility{
    padding: 100px 0px;
    position: relative;
}

.sustainibility .sustainability_disc{
    width: 75%;
    margin : 0 auto;
}

.sustainibility .sustainability_disc .sustainibility_in{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sustainibility .sustainability_disc .sustainibility_in .sustainibility_text{
    width: 50%;
}

.sustainibility .sustainability_disc .sustainibility_in .sustainibility_text .sustainibility_header{
    font-size: 50px;
    padding-bottom: 20px ;
    font-family: Gotham book;
    color: var(--color_primary);
}

.sustainibility .sustainability_disc .sustainibility_in .sustainibility_text .sustain_text{
    font-family: Gotham light;
    font-size: 18px;
    padding-bottom: 20px;
}

.sustainibility .sustainability_disc .sustainibility_in .sustainability_img{
    width: 50%;
}

.sustainibility .sustainability_disc .sustainibility_in .sustainability_img img{
    max-width: 100%;
}

.sustainibility .sustainability_disc .sustainibility_in .bar{
    position: absolute;
    top: 0;
    left: 65%;
    height: 100%;
    width: 35%;
    background-color: var(--color_primary);
    z-index: -1;
}

.studio{
    padding: 5% 0 ;
    margin: 0;
    background-color: #f4f6f6;
}

.studio .studio_logo{
    margin: 0 auto;
    margin-bottom:3%;
    display:block;
    height: auto;
    width: 14%;
}


.studio .studio_img{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.studio .studio_img img{
    width: 100%;
}

.studio .studio_img .studio_text .studio_para{
    width: 33.33%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.575);
}

.studio .studio_img .studio_text .studio_para p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map {
    position: relative;
}

.map img{
    width: 100%;
    height: 100vh;
}

.map .map_img_text{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.map .map_img_text .map_text{
    width: 30%;
    font-family: gotham light;
    position: absolute;
    top: 50%;
    left: 65%;
}

.map .map_img_text .map_img .map_heading{
    text-transform: uppercase;
    font-size: 45px;
    position: absolute;
    font-family: gotham book;
    width: 20%;
    line-height: 1.2;
}

.map .map_img_text .map_img .heading_1{
    color: var(--color_secondary);
    top: 17%;
    left: 5%;
}

.map .map_img_text .map_img .heading_2{
    color: #449593;
    transform:translate(-20%, -30%);
    bottom: 18%;
    left: 28%;
}

.map .map_text p:nth-child(1){
    padding-bottom: 20px;
}

