.sustainibility_out .background{
    padding: 3% 0;
}

.sustainibility_out .background .sustainibility{
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

.sustainibility_out .background .sustainibility:nth-child(odd){
    flex-direction: row-reverse;
}

.sustainibility_out .background .sustainibility .sustainibility_text{
    width: 45%;
}

.sustainibility_out .background .sustainibility .sustainibility_text h3{
    padding: 5px 0;
    font-size: 33px;
}

.sustainibility_out .background .sustainibility .sustainibility_img{
    width: 45%;
}

@media screen and (max-width:767px){
    .sustainibility_out .background .sustainibility{
        flex-direction: column !important;
        padding: 3% 0;
    }

    .sustainibility_out .background .sustainibility .sustainibility_text{
        width: 100%;
        padding-bottom: 2%;
    }

    .sustainibility_out .background .sustainibility .sustainibility_img{
        width: 100%;
    }

    .sustainibility_out .background .sustainibility .sustainibility_text h3{
        font-size: 25px;
    }
}